version-1.0/multicast/NodeRED_LoRaWAN_Multicast_Server.json
[{"id":"9c4e6328c59086b7","type":"tab","label":"Multicast","disabled":false,"info":"","env":[]},{"id":"35fad3f87979dec6","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":4,"width":0,"height":0,"name":"","label":"McAddr (big endian, to set in NS side)","format":"{{msg.McAddrBE}}","layout":"row-spread","className":"","x":1150,"y":140,"wires":[]},{"id":"0c4a74efbb38bf83","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":5,"width":0,"height":0,"name":"","label":"McAddr (little endian, to set in command)","format":"{{msg.McAddrLE}}","layout":"row-spread","className":"","x":1160,"y":180,"wires":[]},{"id":"40300718881a36f4","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":6,"width":0,"height":0,"name":"","label":"McKey_encrypted","format":"{{msg.McKey_ENC}}","layout":"row-spread","className":"","x":1090,"y":220,"wires":[]},{"id":"ade4c4596dbcd2de","type":"function","z":"9c4e6328c59086b7","name":"Key derivation","func":"/*\n* Title:    McKey_encrypted generator + McAddr_Generator\n* Autor:    Antoine AUGAGNEUR\n* Date:     march, 2022\n* Sources:  > randHex function from https://codepen.io/code_monk/pen/kaWvPL\n*\n*/\n\n//  random hex string generator\nvar randHex = function(len) {\n  var maxlen = 8,\n      min = Math.pow(16,Math.min(len,maxlen)-1) \n      max = Math.pow(16,Math.min(len,maxlen)) - 1,\n      n   = Math.floor( Math.random() * (max-min+1) ) + min,\n      r   = n.toString(16);\n  while ( r.length < len ) {\n     r = r + randHex( len - maxlen );\n  }\n  return r;\n};\n\n// randomly generated bigendian McKey_encrypted\nvar McKey_encrypted  = randHex(32);\n\n// randomly generated bigendian McAddr\nvar McAddr_be = randHex(8);\n\n// McAddr little endian conversion\nvar McAddr_le = McAddr_be[6]                            \n                    + McAddr_be[7]\n                    + McAddr_be[4]\n                    + McAddr_be[5]\n                    + McAddr_be[2]\n                    + McAddr_be[3]\n                    + McAddr_be[0]\n                    + McAddr_be[1];\n                    \n// ###############################################################################################################################################################\n\n/*\n* Title:    Keys derivation for LoRaWAN multicast session\n* Autor:    Antoine AUGAGNEUR\n* Date:     march, 2022\n* Sources:  > LoRaWAN Remote Multicast Setup Specification v1.0.0 (Lora Alliance)\n*           > Deciphering an EU868 LoRaWAN 1.0 OTAA Join Accept [online], available on:\n*             https://runkit.com/avbentem/deciphering-a-lorawan-otaa-join-accept           \n* \n* ## Definitions\n* Device has:   GenAppKey               ( = AppKey, according to LoRaWAN 1.1)\n* It receives:  McKey_encrypted         ( via McGroupSetupReq MAC command)\n*               McAddr                  ( via McGroupSetupReq MAC command)\n* Then,\n* McRootKey = aes128_encrypt(GenAppKey, 0x00 | pad16)\n* McKEKey = aes128_encrypt(McRootKey, 0x00 | pad16)\n* McKey = aes128_decrypt(McKey_encrypted,McKEKey)\n* And then,\n* McAppSKey = aes128_encrypt(McKey, 0x01 | McAddr | pad16)\n* McNetSKey = aes128_encrypt(McKey, 0x02 | McAddr | pad16)\n*\n* To be noted:\n* The octet order over the air for all multi-octet fields is little endian (Least significant byte is \n* sent first). As a consequence, send data used for crypto operations are in little endian too.\n* Howerver, logs device diplay them correctly.\n*\n*\n* Information:\n*           - inputs:   GenAppKey           (from node)                    \n*                       McAddr              (from node, it has to be in little endian)   \n*                       McKey_encrypted     (from node)\n*           - outputs:  McRootKey\n*                       McKEKey\n*                       McKey\n*                       McAppSKey         \n*                       McNetSKey         \n*                       \n*\n*/\n\n// Initialization vector is always zero\nvar LORA_IV = CryptoJS.enc.Hex.parse('00000000000000000000000000000000');\n\n// Encrypts the given buffer, returning another buffer.\nfunction encrypt(buffer, key) {\n    var ciphertext = CryptoJS.AES.encrypt(\n        CryptoJS.lib.WordArray.create(buffer),\n        CryptoJS.lib.WordArray.create(key),\n        {\n            mode: CryptoJS.mode.ECB,\n            iv: LORA_IV,\n            padding: CryptoJS.pad.NoPadding\n        }\n    ).ciphertext.toString(CryptoJS.enc.Hex);\n    return new Buffer(ciphertext, 'hex');\n}\n\n// ## Known data (set or generated) #########################################\n// GenAppKey (or AppKey) programmed in the device\n// var GenAppKey = 'F255B7748A00FF7C22344C3402F6356F';\nvar GenAppKey = msg.payload;\nGenAppKey = Buffer.from(GenAppKey.toString(16), 'hex');\n\n// McKey_encrypted\n// var McKey_encrypted = '6B46B8386CB3B7697B2674526E98209B';\nMcKey_encrypted = Buffer.from(McKey_encrypted.toString(16), 'hex');\n\n// McAdrr\n// var McAddr = 'F03D292B';\nMcAddr_le = Buffer.from(McAddr_le.toString(16), 'hex'); // normal address:F03D2928 --> little endian:28293DF0\n                                             \n// ## Key derivation to have McRootKey ######################################\n// McRootKey = aes128_encrypt(GenAppKey, 0x00 | pad16)\nvar sKey_root = Buffer.from('000000000000000000000000000000', 'hex');\nvar McRootKey = encrypt(Buffer.concat([Buffer.from('00','hex'),sKey_root]),GenAppKey);\n\n// ## Key derivation to have McKEKey\n// McKEKey = aes128_encrypt(McRootKey, 0x00 | pad16)\nvar sKey_ke = Buffer.from('000000000000000000000000000000', 'hex');\nvar McKEKey = encrypt(Buffer.concat([Buffer.from('00','hex'),sKey_ke]),McRootKey);\n\n// ## Key decryption to have McKey ##########################################\n// McKey = aes128_decrypt(McKey_encrypted,McKEKey)\nvar McKey = encrypt(McKey_encrypted,McKEKey);\n\n\n// ## Key derivation to have McAppsKey and McNetSKey ########################\n// McAppSKey = aes128_encrypt(McKey, 0x01 | McAddr | pad16)\nvar sKey_apps = Buffer.concat([\n                        McAddr_le,\n                        Buffer.from('00000000000000000000000', 'hex')\n                        ]);\nvar McAppSKey = encrypt(Buffer.concat([Buffer.from('01','hex'),sKey_apps]),McKey);\n\n// McNetSKey = aes128_encrypt(McKey, 0x02 | McAddr | pad16)\nvar sKey_nets = Buffer.concat([\n                        McAddr_le,\n                        Buffer.from('00000000000000000000000', 'hex')\n                        ]);\nvar McNetSKey = encrypt(Buffer.concat([Buffer.from('02','hex'),sKey_nets]),McKey);\n\n\n\n// output\n\nif (msg.payload.length == 32){\n    \n    msg.McAddrLE=McAddr_le.toString('hex');                // McAddr little endian\n    msg.McAddrBE=McAddr_be;                             // McAddr big endian\n    msg.McKey_ENC=McKey_encrypted.toString('hex');         // McKey_encrypted\n    msg.McRootKEY=McRootKey.toString('hex');               // McRootKey\n    msg.McKEKEY=McKEKey.toString('hex');                   // McKEKey\n    msg.McKEY=McKey.toString('hex');                   // McKey\n    msg.McAppSKEY=McAppSKey.toString('hex');               // McAppSKey\n    msg.McNetSKEY=McNetSKey.toString('hex');               // McNetSKey\n    \n    msg.state = \"1\";\n    \n    return msg;\n}\nelse\n{\n    msg.McAddrLE=McAddr_le.toString('hex');                // McAddr little endian\n    msg.McAddrBE=McAddr_be.toString('hex');                             // McAddr big endian\n    msg.McKey_ENC=McKey_encrypted.toString('hex');         // McKey_encrypted\n    msg.McRootKEY=\"Error. Check the GenAppKey length\";                              // McRootKey\n    msg.McKEKEY=\"Error. Check the GenAppKey length\";                                // McKEKey\n    msg.McKEY=\"Error. Check the GenAppKey length\";                   // McKey\n    msg.McAppSKEY=\"Error. Check the GenAppKey length\";                              // McAppSKey\n    msg.McNetSKEY=\"Error. Check the GenAppKey length\";                              // McNetSKey\n    msg.state = \"0\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"reverse","module":"buffer-reverse"},{"var":"CryptoJS","module":"crypto-js"},{"var":"nodeAesCmac","module":"node-aes-cmac"}],"x":820,"y":140,"wires":[["7d38524899ef47fd","35fad3f87979dec6","0c4a74efbb38bf83","40300718881a36f4","fef3c2f2fdb8a4bd","b12e24ece538f6fe","8edc73fdf2b98e19","d3854bb976aa77cd","47c0cb33e5e56922","5882a758dc5dfea8"]]},{"id":"7d38524899ef47fd","type":"debug","z":"9c4e6328c59086b7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":100,"wires":[]},{"id":"fef3c2f2fdb8a4bd","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":8,"width":0,"height":0,"name":"","label":"McRootKey","format":"{{msg.McRootKEY}}","layout":"row-spread","className":"","x":1070,"y":260,"wires":[]},{"id":"1fbcf5c7b61f10e8","type":"inject","z":"9c4e6328c59086b7","name":"Init, empty string","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"f255b7748a00ff7c22344c3402f6356f","payloadType":"str","x":130,"y":140,"wires":[["81db979eefc839a7"]]},{"id":"81db979eefc839a7","type":"ui_text_input","z":"9c4e6328c59086b7","name":"","label":"GenAppKey","tooltip":"","group":"f48663973273d0a3","order":1,"width":10,"height":2,"passthru":true,"mode":"text","delay":"100","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":310,"y":140,"wires":[["0c215c3ab590a579"]]},{"id":"bf4f38aa8594b388","type":"ui_button","z":"9c4e6328c59086b7","name":"","group":"f48663973273d0a3","order":2,"width":0,"height":0,"passthru":false,"label":"Generate","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"textInput","payloadType":"flow","topic":"","topicType":"str","x":660,"y":140,"wires":[["ade4c4596dbcd2de"]]},{"id":"0c215c3ab590a579","type":"change","z":"9c4e6328c59086b7","name":"","rules":[{"t":"set","p":"textInput","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[["bf4f38aa8594b388"]]},{"id":"b12e24ece538f6fe","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":9,"width":0,"height":0,"name":"","label":"McKEKey","format":"{{msg.McKEKEY}}","layout":"row-spread","className":"","x":1060,"y":300,"wires":[]},{"id":"8edc73fdf2b98e19","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":11,"width":0,"height":0,"name":"","label":"McKey","format":"{{msg.McKEY}}","layout":"row-spread","className":"","x":1050,"y":340,"wires":[]},{"id":"d3854bb976aa77cd","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":13,"width":0,"height":0,"name":"","label":"McAppsKey","format":"{{msg.McAppSKEY}}","layout":"row-spread","className":"","x":1070,"y":380,"wires":[]},{"id":"47c0cb33e5e56922","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":14,"width":0,"height":0,"name":"","label":"McNetsKey","format":"{{msg.McNetSKEY}}","layout":"row-spread","className":"","x":1070,"y":420,"wires":[]},{"id":"4fe0327f1554c6d8","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","x":390,"y":300,"wires":[]},{"id":"dcd1aacf497a9456","type":"inject","z":"9c4e6328c59086b7","name":"GENERATED KEYS ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"GENERATED KEYS --------------------------------------------------------","payloadType":"str","x":160,"y":300,"wires":[["4fe0327f1554c6d8"]]},{"id":"15d317436bbdc795","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":7,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","className":"","x":390,"y":340,"wires":[]},{"id":"982ac3ea79275166","type":"inject","z":"9c4e6328c59086b7","name":"DERIVED KEYS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"DERIVED KEYS ----------------------------------------------------------","payloadType":"str","x":150,"y":340,"wires":[["15d317436bbdc795"]]},{"id":"f1f888044f39481e","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":10,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","className":"","x":390,"y":380,"wires":[]},{"id":"4fbbe337fa863fd7","type":"inject","z":"9c4e6328c59086b7","name":"DECRYPTED KEYS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"DECRYPTED KEYS --------------------------------------------------------","payloadType":"str","x":160,"y":380,"wires":[["f1f888044f39481e"]]},{"id":"dd4a54f6d591b023","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":12,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","className":"","x":390,"y":420,"wires":[]},{"id":"c50a8ea348563655","type":"inject","z":"9c4e6328c59086b7","name":"MULTICAST SESSION KEYS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"MULTICAST SESSION KEYS ----------------------------------------------","payloadType":"str","x":190,"y":420,"wires":[["dd4a54f6d591b023"]]},{"id":"d3343cdc8e13dd67","type":"comment","z":"9c4e6328c59086b7","name":"For Dashboard","info":"","x":120,"y":240,"wires":[]},{"id":"f6db0073e1c13c32","type":"comment","z":"9c4e6328c59086b7","name":"Multicast session generator","info":"","x":150,"y":80,"wires":[]},{"id":"e668bf934733e17e","type":"comment","z":"9c4e6328c59086b7","name":"McGroupSetupReq (0x02)","info":"","x":150,"y":840,"wires":[]},{"id":"e45a07f50e19322d","type":"ui_form","z":"9c4e6328c59086b7","name":"McGroupSetupReq","label":"","group":"6981c805a4790f2a","order":1,"width":11,"height":1,"options":[{"label":"McGroupID (0 to 3)","value":"McGroupID","type":"text","required":true,"rows":null},{"label":"McAddr","value":"McAddr","type":"text","required":true,"rows":null},{"label":"McKey_encrypted","value":"McKey_encrypted","type":"text","required":true,"rows":null},{"label":"minMcFCount (hex, 4 bytes)","value":"minMcFCount","type":"text","required":true,"rows":null},{"label":"maxMcFCount (hex, 4 bytes)","value":"maxMcFCount","type":"text","required":true,"rows":null}],"formValue":{"McGroupID":"","McAddr":"","McKey_encrypted":"","minMcFCount":"","maxMcFCount":""},"payload":"","submit":"Create command","cancel":"Cancel","topic":"topic","topicType":"msg","splitLayout":true,"className":"","x":130,"y":880,"wires":[["db300dd4b4811fa0"]]},{"id":"db300dd4b4811fa0","type":"function","z":"9c4e6328c59086b7","name":"McGroupSetupReq","func":"/*\n* Title:    Mc LoRaWAN command: McGroupSetupReq\n* Autor:    Antoine AUGAGNEUR\n* Date:     march, 2022\n* Sources:  > LoRaWAN Application Layer Clock Synchronization Specification v1.0.0 (Lora Alliance)\n*           > LoRaWAN Remote Multicast Setup Specification v1.0.0 (Lora Alliance)\n*\n* McGroupSetupReq payload:\n*          | McGroupIDHeader  | McAddr    | McKey_encrypted   | minMcFCount   | maxMcFCount   | \n*          | 1 byte           | 4 bytes   | 16 bytes          | 4 bytes       | 4 bytes       |\n*\n* McGroupSetupReq command CID: 0x02\n*\n* Information:\n*           - inputs:   McGroupID                    \n*                       McAddr              (from node, it has to be in little endian)    \n*                       McKey_encrypted     (from node)\n*                       minMcFCount\n*                       maxMcFCount\n*           - outputs:  McGroupSetupReq\n*                       minMcFCount (dec format)\n*                       maxMcFCount (dec format)\n*                       \n*                                          \n*/\n\n// McGroupIDHeader (1 byte) / 6-bits RFU + 2-bits McGroupID\nvar RFU = '0';\n// var McGroupID = '1'; // 0, 1, 2, or 3\nvar McGroupID = msg.payload.McGroupID;\nvar McGroupIDHeader = Buffer.from(RFU + McGroupID, 'hex');\n\n// McAddr (4 byte)\n// var McAddr = 'F03D292B';\nvar McAddr = msg.payload.McAddr;\nMcAddr = Buffer.from(McAddr, 'hex');\n\n// McKey_encrypted (16 bytes)\n// var McKey_encrypted = '6B46B8386CB3B7697B2674526E98209B';\nvar McKey_encrypted = msg.payload.McKey_encrypted;\nMcKey_encrypted = Buffer.from(McKey_encrypted, 'hex');\n\n// minMcFCount (4 bytes)\n// var minMcFCount = '00000000';\nvar minMcFCount = msg.payload.minMcFCount;\nminMcFCount = minMcFCount.toString(16);\nvar minMcFCount_le = minMcFCount[6]                             // little endian conversion\n                    + minMcFCount[7]\n                    + minMcFCount[4]\n                    + minMcFCount[5]\n                    + minMcFCount[2]\n                    + minMcFCount[3]\n                    + minMcFCount[0]\n                    + minMcFCount[1];\nminMcFCount_le = Buffer.from(minMcFCount_le, 'hex');\nvar minMcFCount_dec = parseInt(minMcFCount,16);                 // passage en decimal\n\n// maxMcFCount (4 bytes)\n// var maxMcFCount = '0000000A'\nvar maxMcFCount = msg.payload.maxMcFCount;\nmaxMcFCount = maxMcFCount.toString(16);\nvar maxMcFCount_le = maxMcFCount[6]                             // little endian conversion\n                    + maxMcFCount[7]\n                    + maxMcFCount[4]\n                    + maxMcFCount[5]\n                    + maxMcFCount[2]\n                    + maxMcFCount[3]\n                    + maxMcFCount[0]\n                    + maxMcFCount[1];\nmaxMcFCount_le = Buffer.from(maxMcFCount_le, 'hex');\nvar maxMcFCount_dec = parseInt(maxMcFCount,16);                 // passage en decimal\n\n\n// McGroupSetupReq\nvar Command_02 = Buffer.from('02', 'hex');\nvar McGroupSetupReq = Buffer.concat([\n                        Command_02,\n                        McGroupIDHeader,\n                        McAddr,\n                        McKey_encrypted,\n                        minMcFCount_le,\n                        maxMcFCount_le                        \n                        ]);\n\n// ############################################################################\n\n\n//msg.mcaddrlittle = McAddr.toString('hex');\n//msg.mckeyencrypted = McKey_encrypted.toString('hex');\nmsg.McGroupSetupReq = McGroupSetupReq.toString('hex');\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":880,"wires":[["76e86ffad473dfb2"]]},{"id":"76e86ffad473dfb2","type":"ui_text","z":"9c4e6328c59086b7","group":"6981c805a4790f2a","order":2,"width":11,"height":1,"name":"","label":"McGroupSetupReq command","format":"{{msg.McGroupSetupReq}}","layout":"col-center","className":"","x":630,"y":880,"wires":[]},{"id":"0d970ca7bd61b72e","type":"comment","z":"9c4e6328c59086b7","name":"McClassCSessionReq (0x04)","info":"","x":160,"y":980,"wires":[]},{"id":"40e6e54555fdd00e","type":"ui_form","z":"9c4e6328c59086b7","name":"McClassCSessionReq ","label":"","group":"8be7a72d5783bb58","order":1,"width":10,"height":1,"options":[{"label":"McGroupID (0 to 3)","value":"McGroupID","type":"text","required":true,"rows":null},{"label":"SessionTime (date)","value":"SessionTime_date","type":"date","required":true,"rows":null},{"label":"SessionTime (time)","value":"SessionTime_time","type":"time","required":true,"rows":null},{"label":"TimeOut (0 to 15)","value":"TimeOut","type":"text","required":true,"rows":null},{"label":"Downlink Frequency in Hz (e.g.: 869525000)","value":"DLFreq","type":"text","required":true,"rows":null},{"label":"DataRate (e.g.: 3)","value":"DR","type":"text","required":true,"rows":null}],"formValue":{"McGroupID":"","SessionTime_date":"","SessionTime_time":"","TimeOut":"","DLFreq":"","DR":""},"payload":"","submit":"Create command","cancel":"Cancel","topic":"topic","topicType":"msg","splitLayout":true,"className":"","x":140,"y":1020,"wires":[["c32f5f0d6ef9a0d2"]]},{"id":"c32f5f0d6ef9a0d2","type":"function","z":"9c4e6328c59086b7","name":"McClassCSessionReq","func":"/*\n* Title:    Mc LoRaWAN command: McClassCSessionReq\n* Autor:    Antoine AUGAGNEUR\n* Date:     march, 2022\n* Sources:  > LoRaWAN Application Layer Clock Synchronization Specification v1.0.0 (Lora Alliance)\n*           > LoRaWAN Remote Multicast Setup Specification v1.0.0 (Lora Alliance)\n*\n* McClassCSessionReq payload:\n*          | McGroupIDHeader  | SessionTime     | SessionTimeOut    | DLFrequ   | DR        | \n*          | 1 byte           | 4 bytes         | 1 byte            | 3 bytes   | 1 byte    |\n*\n* McClassCSessionReq command CID: 0x04\n*\n* Information:\n*           - inputs:   McGroupID           \n*                       SessionTime (Y,M,D,H,M,S)              \n*                       TimeOut\n*                       DLFreq\n*                       DR\n*           - outputs:  McClassCSessionReq\n*                       Session Time (date format)\n*                       SessionTimeOut (date format)\n*                                          \n*/\n\n//  ## Date calculation\n// GPS origin\nvar Origin = new Date('1980-01-06 00:00:00');\n// Desired date\nvar Desired_date = Date.parse(msg.payload.SessionTime_date);        // Y, M, D // \"parse\" turns the date into the number of ms passed since 1970-01-01.\nvar Desired_time = Date.parse(msg.payload.SessionTime_time);        // H, M\n\n// Difference calculation\nvar offset_time = Date.parse('1970-01-01 00:00:00');\nvar Desired = Desired_date + Desired_time - offset_time - Origin;   // time ( = hours and minuts) is set with an offset of 1970-01-01. So, I take the offset away.\nDesired=Desired+7200000;    // 2 hours are added to synch with our time (UTC+01). Added twice because there are a Date(Y,M,D) setup AND a time (H,M) setup.\nvar Diff = Desired/1000;      // difference in seconds\n\n// RFU (multiple use)\nvar RFU = '0';\n\n\n// ## McClassCSessionReq definition -------------------------------------------------------------\n// McGroupIDHeader (1 byte)\nvar McGroupID = msg.payload.McGroupID;                                              // To set ! (0,1,2 or 3)\nvar McGroupIDHeader = Buffer.from(RFU + McGroupID.toString(10), 'hex');\n\n// Session Time (4 bytes)\nvar SessionTime = Diff.toString(16);       // hex to string conversion\nvar SessionTime_le = SessionTime[6]        // little endian conversion\n                    + SessionTime[7]\n                    + SessionTime[4]\n                    + SessionTime[5]\n                    + SessionTime[2]\n                    + SessionTime[3]\n                    + SessionTime[0]\n                    + SessionTime[1];\nSessionTime_le = Buffer.from(SessionTime_le, 'hex');\n\n// SessionTimeOut \nvar TimeOut_r = msg.payload.TimeOut;                                                     // To set ! (0 --> 15)\nvar TimeOut = parseInt(TimeOut_r,10);   \nvar TimeOut_hex = parseInt(TimeOut.toString(16), 16);\nvar TimeOutSec = 2**TimeOut; // 2^TimeOut\nvar SessionTimeOut = Buffer.from(RFU + TimeOut_hex.toString(16), 'hex');\n\n// DLFreq (3 bytes)\nvar freq_r = msg.payload.DLFreq;\nvar freq = parseInt(freq_r,10);                                               // To set ! \nvar freq_hex = parseInt((freq/100).toString(16), 16);       // dec to hex conversion\nvar freq_hex_str = freq_hex.toString(16);                   // hex to string conversion\nvar freq_hex_str_le = freq_hex_str[4]                       // little endian conversion\n                    + freq_hex_str[5]\n                    + freq_hex_str[2]\n                    + freq_hex_str[3]\n                    + freq_hex_str[0]\n                    + freq_hex_str[1];\nfreq_hex_str_le = Buffer.from(freq_hex_str_le, 'hex');\n\n// DR (1 byte)\nvar DR_r = msg.payload.DR;                                                         // To set ! \nvar DR = parseInt(DR_r,10);\nvar DR_hex = parseInt(DR.toString(16), 16);                         // dec to hex conversion\nvar DR_hex_str = Buffer.from('0' + DR_hex.toString(16), 'hex');     // hex to string conversion\nDR_hex_str = Buffer.from(DR_hex_str, 'hex');\n\n// McClassCSessionReq\nvar Command_04 = Buffer.from('04', 'hex');\n// var McClassCSessionReq = Command + McGroupIDHeader + SessionTime_le + SessionTimeOut + freq_hex_str_le + DR_hex_str;\n\nvar McClassCSessionReq = Buffer.concat([\n                        Command_04,\n                        McGroupIDHeader,\n                        SessionTime_le,\n                        SessionTimeOut,\n                        freq_hex_str_le,\n                        DR_hex_str                        \n                        ]);\n                        \n                        \n\n\n\n\nmsg.desiredtime = Diff;\nmsg.McClassCSessionReq_command = McClassCSessionReq.toString('hex');\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1020,"wires":[["0846a7d2708b718d"]]},{"id":"0846a7d2708b718d","type":"ui_text","z":"9c4e6328c59086b7","group":"8be7a72d5783bb58","order":2,"width":10,"height":1,"name":"","label":"McClassCSessionReq command","format":"{{msg.McClassCSessionReq_command}}","layout":"col-center","className":"","x":620,"y":1020,"wires":[]},{"id":"5882a758dc5dfea8","type":"ui_text","z":"9c4e6328c59086b7","group":"f48663973273d0a3","order":15,"width":0,"height":0,"name":"","label":"McAddr ( = DevAddr of the multicast group)","format":"{{msg.McAddrBE}}","layout":"row-spread","className":"","x":1170,"y":460,"wires":[]},{"id":"ede6933261f6901c","type":"mqtt out","z":"9c4e6328c59086b7","name":"to Mosquitto ONLINE","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0b5f9950f773f2db","x":500,"y":1220,"wires":[]},{"id":"d6920e03b868964b","type":"function","z":"9c4e6328c59086b7","name":"JSON downlink setup","func":"/*\n* Title:    Multicast - Downlink Setup\n* Autor:    Antoine AUGAGNEUR\n* Date:     march, 2022\n* Sources:  --\n*\n*/\n\n//!\\\\ topic and paylaod only correct for ThingPark Community NS //!\\\\\n\n\n// McGroupIDHeader (1 byte)\nvar command = msg.payload.thepayload;   \nvar deveui = msg.payload.deveui;\nvar port = msg.payload.port;\nvar topic = \"mqtt/things/\" + deveui + \"/downlink\";              //!\\\\ set your own topic\n\n// var P=\n// {\n//     \"topic\": \"test/un\",\n    \t\n// \t\"DevEUI_downlink\": {\n// \t\t\"DevEUI\": deveui,\n// \t\t\"FPort\": port,\n// \t\t\"payload_hex\": command,\n// \t\t\"Confirmed\": \"0\",\n// \t\t\"FlushDownlinkQueue\": \"1\"    \n// \t}\n\t\n\n// }\n\n\n\n// msg = JSON.stringify(P);\n\nvar P=                                                      //!\\\\ set your own payload format\n{\n    \"topic\": topic,\n    \n}\n\nP.payload = \n{\n\t\"DevEUI_downlink\": {\n\t\t\"DevEUI\": deveui,\n\t\t\"FPort\": port,\n\t\t\"payload_hex\": command,\n\t\t\"Confirmed\": \"0\",\n\t\t\"FlushDownlinkQueue\": \"1\"    \n\t}\n\t\n}\n\n\nmsg=P;\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":1220,"wires":[["ede6933261f6901c"]]},{"id":"d8e807fc43412fc4","type":"ui_form","z":"9c4e6328c59086b7","name":"Downlink","label":"","group":"5c1b38e3407d4958","order":1,"width":8,"height":1,"options":[{"label":"DevEUI","value":"deveui","type":"text","required":true,"rows":null},{"label":"Port","value":"port","type":"text","required":true,"rows":null},{"label":"Payload","value":"thepayload","type":"text","required":true,"rows":null}],"formValue":{"deveui":"","port":"","thepayload":""},"payload":"","submit":"SEND","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":100,"y":1220,"wires":[["d6920e03b868964b"]]},{"id":"0d74387e09f63ae0","type":"comment","z":"9c4e6328c59086b7","name":"Downlink","info":"","x":100,"y":1180,"wires":[]},{"id":"fe3f44200a8eb358","type":"mqtt in","z":"9c4e6328c59086b7","name":"from Mosquitto ONLINE","topic":"","qos":"2","datatype":"json","broker":"0b5f9950f773f2db","nl":false,"rap":false,"inputs":1,"x":380,"y":1360,"wires":[["393843160ec6fe85","e9b84c1b387de661","285fb0c4334b00d0","9ac8b6d443089ae5","c0c7590654621078"]]},{"id":"2b68350d62663c77","type":"inject","z":"9c4e6328c59086b7","name":"","props":[{"p":"action","v":"subscribe","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"mqtt/things/+/uplink","x":160,"y":1360,"wires":[["fe3f44200a8eb358"]]},{"id":"ad9a8bcb4e6ba4a9","type":"comment","z":"9c4e6328c59086b7","name":"Uplink listening","info":"","x":120,"y":1300,"wires":[]},{"id":"393843160ec6fe85","type":"function","z":"9c4e6328c59086b7","name":"Uplink study","func":"/*\n* Title:    Multicast - Uplink analyzer\n* Autor:    Antoine AUGAGNEUR\n* Date:     march, 2022\n* Sources:  LoRaWAN® Application Layer Clock Synchronization Specification\n*\n*/\n\n// Uplink analysis\n// DevEUI = msg.payload.DevEUI_uplink.DevEUI;                   //!\\\\ set your own path\nupport = msg.payload.DevEUI_uplink.FPort;                       //!\\\\ set your own path\n// Fcnt = msg.payload.DevEUI_uplink.FCntUp;                     //!\\\\ set your own path\nmessage = msg.payload.DevEUI_uplink.payload_hex;                //!\\\\ set your own path\n\n\n\n// Clock command analysis\nif (upport == \"200\"){\n    \n    message = message.toString('hex');\n\n    if (message[1] == \"0\"){\n        msg.commandtype = \"PackageVersionAns \";\n        msg.analysis = \"Pack.ID: \" + message[2] + message[3] + \" / \" + \"Pack.Ver: \" +message[4] + message[5];\n    }\n    else if(message[1] == \"1\"){\n        msg.commandtype = \"McGroupStatusAns\";\n        var buf = \"--\";\n        if (message.length > 4){buf = message[3];}\n        if (message.length > 15){buf += \"-\" + message[15];}\n        if (message.length > 27){buf += \"-\" + message[27];}\n        if (message.length > 38){buf += \"-\" + message[38];}\n        msg.analysis = \"Nb.Group: \" + message[2] + \" / \" + \"Group defined: \" + buf;\n    }\n    else if(message[1] == \"2\"){\n        msg.commandtype = \"McGroupSetupAns \";\n        var grp = parseInt(message[3].toString(16),16);\n        if (grp>3){ // bit IDerror == 1\n            msg.analysis = \"Setup group \" + grp-4 + \" aborted\";\n        }\n        else{\n            msg.analysis = \"Setup group \" + grp + \" successful\";\n        }\n    }\n    else if(message[1] == \"3\"){\n        msg.commandtype = \"McGroupDeleteAns \";\n        var grpb = parseInt(message[3].toString(16),16);\n        if (grpb>3){ // bit IDerror == 1\n            msg.analysis = \"Delete group \" + grpb-4 + \" failed\";\n        }\n        else{\n            msg.analysis = \"Delete group \" + grpb + \" successful\";\n        }\n    }\n    else if(message[1] == \"4\"){\n        msg.commandtype = \"McClassCSessionAns \";\n        var grpc = parseInt(message[3].toString(16),16);\n        if(grpc>10){\n            msg.analysis = \"Request aborted\";\n        }\n        else{\n            //var tps = message[8]+message[9]+message[6]+message[7]+message[4]+message[5];\n            //var tps_dec =  parseInt(message[1].toString(16),16); // sec\n            msg.analysis = \"C session setup group \" +  message[3];\n        }\n    }\n\n    else{\n        msg.commandtype = \"...\";\n        msg.analysis = \"...\";\n    }\n    \n}\nelse{\n    msg.commandtype = \"...\";\n    msg.analysis = \"...\";\n}\n\n\n\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1460,"wires":[["b76dd1eba5aabfae","6d57e92c7eadf366"]]},{"id":"e9b84c1b387de661","type":"ui_text","z":"9c4e6328c59086b7","group":"ce10c98edc29ac62","order":1,"width":6,"height":1,"name":"","label":"DevEUI","format":"{{msg.payload.DevEUI_uplink.DevEUI}}","layout":"row-spread","className":"","x":620,"y":1300,"wires":[]},{"id":"285fb0c4334b00d0","type":"ui_text","z":"9c4e6328c59086b7","group":"ce10c98edc29ac62","order":4,"width":6,"height":1,"name":"","label":"Port","format":"{{msg.payload.DevEUI_uplink.FPort}}","layout":"row-spread","className":"","x":630,"y":1340,"wires":[]},{"id":"9ac8b6d443089ae5","type":"ui_text","z":"9c4e6328c59086b7","group":"ce10c98edc29ac62","order":3,"width":6,"height":1,"name":"","label":"Fcnt","format":"{{msg.payload.DevEUI_uplink.FCntUp}}","layout":"row-spread","className":"","x":650,"y":1380,"wires":[]},{"id":"b76dd1eba5aabfae","type":"ui_text","z":"9c4e6328c59086b7","group":"ce10c98edc29ac62","order":2,"width":7,"height":2,"name":"","label":"Command type","format":"{{msg.commandtype}}","layout":"col-center","className":"","x":740,"y":1460,"wires":[]},{"id":"6d57e92c7eadf366","type":"ui_text","z":"9c4e6328c59086b7","group":"ce10c98edc29ac62","order":5,"width":7,"height":2,"name":"","label":"Command analysis","format":"{{msg.analysis}}","layout":"col-center","className":"","x":790,"y":1500,"wires":[]},{"id":"c0c7590654621078","type":"ui_text","z":"9c4e6328c59086b7","group":"ce10c98edc29ac62","order":6,"width":6,"height":1,"name":"","label":"Payload","format":"{{msg.payload.DevEUI_uplink.payload_hex}}","layout":"row-spread","className":"","x":680,"y":1420,"wires":[]},{"id":"5c871e80a2361c14","type":"comment","z":"9c4e6328c59086b7","name":"PackageVersionReq  command (0x00)","info":"","x":190,"y":520,"wires":[]},{"id":"44180729280a05e1","type":"ui_text","z":"9c4e6328c59086b7","group":"1f5263f560ceadfe","order":2,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"col-center","className":"","x":450,"y":560,"wires":[]},{"id":"1a0ac51f66b482d3","type":"ui_template","z":"9c4e6328c59086b7","group":"1f5263f560ceadfe","name":"Info","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<!--<head>-->\n<!--\t<title>Hello</title>-->\n\n<!--\t<h1>Hello World</h1>-->\n<!--</head>-->\n<body>\n    \n<p><em>Payload is fixed</em></p>\n\n</body>\n</html>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":90,"y":560,"wires":[[]]},{"id":"774dc35ff5615a73","type":"inject","z":"9c4e6328c59086b7","name":"00","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"00","payloadType":"str","x":250,"y":560,"wires":[["44180729280a05e1"]]},{"id":"673bdb37dabe54c2","type":"comment","z":"9c4e6328c59086b7","name":"McGroupStatusReq  command (0x01)","info":"","x":190,"y":620,"wires":[]},{"id":"a6b9ef06e0c64d0b","type":"ui_text","z":"9c4e6328c59086b7","group":"f3fc4dc65da12719","order":2,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"col-center","className":"","x":450,"y":660,"wires":[]},{"id":"ce1ce926cd98c060","type":"comment","z":"9c4e6328c59086b7","name":"McGroupDeleteReq command (0x03)","info":"","x":190,"y":720,"wires":[]},{"id":"a3a797dd02ca2d57","type":"ui_text","z":"9c4e6328c59086b7","group":"773407c9ade4eb7e","order":2,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"col-center","className":"","x":450,"y":760,"wires":[]},{"id":"2a7f70fbcbc658e1","type":"ui_dropdown","z":"9c4e6328c59086b7","name":"","label":"Group","tooltip":"","place":"Select option","group":"f3fc4dc65da12719","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"0","value":"0101","type":"str"},{"label":"1","value":"0102","type":"str"},{"label":"0-1","value":"0103","type":"str"},{"label":"2","value":"0104","type":"str"},{"label":"0-2","value":"0105","type":"str"},{"label":"1-2","value":"0106","type":"str"},{"label":"0-1-2","value":"0107","type":"str"},{"label":"3","value":"0108","type":"str"},{"label":"0-3","value":"0109","type":"str"},{"label":"1-3","value":"010A","type":"str"},{"label":"0-1-3","value":"010B","type":"str"},{"label":"2-3","value":"010C","type":"str"},{"label":"0-2-3","value":"010D","type":"str"},{"label":"1-2-3","value":"010E","type":"str"},{"label":"0-1-2-3","value":"010F","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":90,"y":660,"wires":[["a6b9ef06e0c64d0b"]]},{"id":"1c0e4efaac209da7","type":"ui_dropdown","z":"9c4e6328c59086b7","name":"","label":"Group","tooltip":"","place":"Select option","group":"773407c9ade4eb7e","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"0","value":"0300","type":"str"},{"label":"1","value":"0301","type":"str"},{"label":"2","value":"0302","type":"str"},{"label":"3","value":"0303","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":90,"y":760,"wires":[["a3a797dd02ca2d57"]]},{"id":"6c337108c2b9aece","type":"comment","z":"9c4e6328c59086b7","name":"!!! READ ME BEFORE USE !!!","info":"\nNeeded modifications berfore use :\n\n- Add YOUR MQTT broker settings in the MQTT nodes.\n- Set YOUR topic (to publish on) in the \"JSON downlink setup\" node.\n- Set YOUR topic (to subscribe to) in the \"Topic to subscribe\" node.\n\n- In the function nodes, there is JS code. Pay attention to the lines with the \"//!\\\\\" symbol.\n","x":620,"y":40,"wires":[]},{"id":"f48663973273d0a3","type":"ui_group","name":"Multicast Session Generator","tab":"121f9e88659f1b47","order":1,"disp":true,"width":"10","collapse":false,"className":""},{"id":"6981c805a4790f2a","type":"ui_group","name":"McGroupSetupReq","tab":"121f9e88659f1b47","order":5,"disp":true,"width":11,"collapse":false,"className":""},{"id":"8be7a72d5783bb58","type":"ui_group","name":"McClassCSessionReq","tab":"121f9e88659f1b47","order":6,"disp":true,"width":10,"collapse":false,"className":""},{"id":"0b5f9950f773f2db","type":"mqtt-broker","name":"Mosquitto ONLINE","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5c1b38e3407d4958","type":"ui_group","name":"Downlink (Port: 200)","tab":"121f9e88659f1b47","order":7,"disp":true,"width":"8","collapse":false,"className":""},{"id":"ce10c98edc29ac62","type":"ui_group","name":"Uplink","tab":"121f9e88659f1b47","order":8,"disp":true,"width":"13","collapse":false,"className":""},{"id":"1f5263f560ceadfe","type":"ui_group","name":"PackageVersionReq","tab":"121f9e88659f1b47","order":2,"disp":true,"width":"7","collapse":false,"className":""},{"id":"f3fc4dc65da12719","type":"ui_group","name":"McGroupStatusReq","tab":"121f9e88659f1b47","order":3,"disp":true,"width":"7","collapse":false,"className":""},{"id":"773407c9ade4eb7e","type":"ui_group","name":"McGroupDeleteReq","tab":"121f9e88659f1b47","order":4,"disp":true,"width":"7","collapse":false,"className":""},{"id":"121f9e88659f1b47","type":"ui_tab","name":"Multicast","icon":"dashboard","order":9,"disabled":false,"hidden":false}]