clock-synchronization/NodeRED_LoRaWAN_Clock_Synchronization.json
[{"id":"1aa241be6de675cd","type":"tab","label":"Clock Synchronization","disabled":false,"info":"","env":[]},{"id":"1b24a37496dff902","type":"comment","z":"1aa241be6de675cd","name":"ForceDeviceResyncReq command (0x0301)","info":"","x":230,"y":300,"wires":[]},{"id":"1d6198df.fef53f","type":"ui_template","z":"1aa241be6de675cd","group":"55a4fad94780cc60","name":"Info","order":1,"width":10,"height":"14","format":"<!DOCTYPE html>\n<html>\n<!--<head>-->\n<!--\t<title>Hello</title>-->\n\n<!--\t<h1>Hello World</h1>-->\n<!--</head>-->\n<body>\n\n<p><strong>CLOCK SYNCHRONIZATION OBJECTIVES</strong></p>\n<p>The main goal is to synchronize the real-time clock of an end-device to the network&rsquo;s GPS clock with second accuracy.</p>\n<p>&nbsp;</p>\n\n<p><strong>DASHBOARD PRESENTATION</strong></p>\n<p>This dashboard proposes different commands from the LoRaWAN Application Layer Clock Synchronization. Explanation and commands are from:</p>\n<p><a href=\"https://resources.lora-alliance.org/technical-specifications/lorawan-application-layer-clock-synchronization-specification-v1-0-0\">LoRaWAN&reg; Application Layer Clock Synchronization Specification v1.0.0 (lora-alliance.org)</a></p>\n\n<p>This dashboard offers different commands:</p>\n\n<ul>\n<li><u>PackageVersionReq</u> (CID: 0x00)</li>\n</ul>\n<p>Used by the AS to request the package version implemented by the end-device</p>\n<ul>\n<li><u>DeviceAppTimePeriodicityReq</u> (CID: 0x02)</li>\n</ul>\n<p>Used by the application server for 2 purposes: Set the periodicity at which the end[1]device shall transmit AppTimeReq messages and request an immediate transmission of end-device time.</p>\n<ul>\n<li><u>ForceDeviceResyncReq</u> (CID: 0x03)</li>\n</ul>\n<p>Used by the application server to the end-device to trigger a clock resynchronization.</p>\n<p>&nbsp;</p>\n<p><strong>USMB DOCUMENTATION</strong></p>\n<p>For more information about the Clock Synchronization feature, check:</p>\n<p><a href=\"https://www.univ-smb.fr/lorawan/en/free-book/\">USMB Documentation</a></p>\n\n\n\n</body>\n</html>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":490,"y":40,"wires":[[]]},{"id":"b8bbaadc5b48b68b","type":"comment","z":"1aa241be6de675cd","name":"PackageVersionReq  command (0x00)","info":"","x":210,"y":100,"wires":[]},{"id":"19bb0b3a8fa6b106","type":"comment","z":"1aa241be6de675cd","name":"DeviceAppTimePeriodicityReq  command (0x02..)","info":"","x":240,"y":200,"wires":[]},{"id":"683c77c11067e4a6","type":"mqtt out","z":"1aa241be6de675cd","name":"Publisher","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0b5f9950f773f2db","x":480,"y":440,"wires":[]},{"id":"8ca4c40b54b299ef","type":"function","z":"1aa241be6de675cd","name":"JSON downlink setup","func":"/*\n* Title:    Clock Synchronization - Downlink Setup\n* Autor:    Antoine AUGAGNEUR\n* Date:     march, 2022\n* Sources:  --\n*\n*/\n\n//!\\\\ topic and paylaod only correct for ThingPark Community NS //!\\\\\n\n// Get values of the form\nvar command = msg.payload.thepayload;                           \nvar deveui = msg.payload.deveui;                                \nvar port = msg.payload.port;                                    \n\n// Creation of the topic\n// (topic example below is specific to ThingPark Community NS)\nvar topic = \"mqtt/things/\" + deveui + \"/downlink\";              //!\\\\ set your own topic\n\n// Creation of the variable to return\nvar P=\n{\n    \"topic\": topic,             \n}\n\nP.payload =                                                     //!\\\\ set your own payload format\n{\n\t\"DevEUI_downlink\": {\n\t\t\"DevEUI\": deveui,\n\t\t\"FPort\": port,\n\t\t\"payload_hex\": command,\n\t\t\"Confirmed\": \"0\",\n\t\t\"FlushDownlinkQueue\": \"1\"    \n\t}\n\t\n}\n\n\nmsg=P;\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":440,"wires":[["683c77c11067e4a6"]]},{"id":"818fb4bb6bb77e8a","type":"ui_form","z":"1aa241be6de675cd","name":"Downlink","label":"","group":"a9b6f0a746d9bfcb","order":1,"width":0,"height":0,"options":[{"label":"DevEUI","value":"deveui","type":"text","required":true,"rows":null},{"label":"Port","value":"port","type":"text","required":true,"rows":null},{"label":"Payload","value":"thepayload","type":"text","required":true,"rows":null}],"formValue":{"deveui":"","port":"","thepayload":""},"payload":"","submit":"SEND","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":120,"y":440,"wires":[["8ca4c40b54b299ef"]]},{"id":"92bc1ec8de9a13ba","type":"comment","z":"1aa241be6de675cd","name":"Downlink","info":"","x":120,"y":400,"wires":[]},{"id":"44967751e3b9d84a","type":"ui_text","z":"1aa241be6de675cd","group":"525df876d07dbfec","order":2,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"col-center","className":"","x":470,"y":140,"wires":[]},{"id":"32960dd08d12d8a4","type":"ui_text","z":"1aa241be6de675cd","group":"36613ffb2d534ad0","order":2,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"col-center","className":"","x":470,"y":340,"wires":[]},{"id":"637fd4c58e7859b1","type":"ui_dropdown","z":"1aa241be6de675cd","name":"","label":"Period","tooltip":"","place":"Select option","group":"3ee3732d6215f938","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"2 min","value":"0200","type":"str"},{"label":"4 min","value":"0201","type":"str"},{"label":"8 min","value":"0202","type":"str"},{"label":"17 min","value":"0203","type":"str"},{"label":"34 min","value":"0204","type":"str"},{"label":"1 hour","value":"0205","type":"str"},{"label":"2 hours","value":"0206","type":"str"},{"label":"4 hours","value":"0207","type":"str"},{"label":"9 hours","value":"0208","type":"str"},{"label":"18 hours","value":"0209","type":"str"},{"label":"1 day","value":"020A","type":"str"},{"label":"3 days","value":"020B","type":"str"},{"label":"6 days","value":"020C","type":"str"},{"label":"12 days","value":"020D","type":"str"},{"label":"24 days","value":"020E","type":"str"},{"label":"48 days","value":"020F","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":110,"y":240,"wires":[["fd1f41b16d3a1465"]]},{"id":"fd1f41b16d3a1465","type":"ui_text","z":"1aa241be6de675cd","group":"3ee3732d6215f938","order":2,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"col-center","className":"","x":370,"y":240,"wires":[]},{"id":"3ed71622081dcc7b","type":"ui_template","z":"1aa241be6de675cd","group":"525df876d07dbfec","name":"Info","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<!--<head>-->\n<!--\t<title>Hello</title>-->\n\n<!--\t<h1>Hello World</h1>-->\n<!--</head>-->\n<body>\n    \n<p><em>Payload is fixed</em></p>\n\n</body>\n</html>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":110,"y":140,"wires":[[]]},{"id":"f9a2ea5decf1203a","type":"inject","z":"1aa241be6de675cd","name":"00","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"00","payloadType":"str","x":270,"y":140,"wires":[["44967751e3b9d84a"]]},{"id":"c99a27164880f976","type":"ui_template","z":"1aa241be6de675cd","group":"36613ffb2d534ad0","name":"Info","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<!--<head>-->\n<!--\t<title>Hello</title>-->\n\n<!--\t<h1>Hello World</h1>-->\n<!--</head>-->\n<body>\n    \n<p><em>Payload is fixed</em></p>\n\n</body>\n</html>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":110,"y":340,"wires":[[]]},{"id":"a30ded22b2508860","type":"inject","z":"1aa241be6de675cd","name":"0301","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0301","payloadType":"str","x":270,"y":340,"wires":[["32960dd08d12d8a4"]]},{"id":"8ed6e62c4094f57b","type":"mqtt in","z":"1aa241be6de675cd","name":"Subscriber","topic":"","qos":"2","datatype":"json","broker":"0b5f9950f773f2db","nl":false,"rap":false,"inputs":1,"x":360,"y":560,"wires":[["64f599dca6155336","217158cd81adf809","3391987144fa35b7","e1c70cef16df686b","cc628538b7de6b72"]]},{"id":"d8ba0ef71d60d5ec","type":"inject","z":"1aa241be6de675cd","name":"Topic to subscribe","props":[{"p":"action","v":"subscribe","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"mqtt/things/+/uplink","x":170,"y":560,"wires":[["8ed6e62c4094f57b"]]},{"id":"7208a6eda91a6593","type":"comment","z":"1aa241be6de675cd","name":"Uplink listening","info":"","x":140,"y":520,"wires":[]},{"id":"64f599dca6155336","type":"function","z":"1aa241be6de675cd","name":"Uplink study","func":"/*\n* Title:    Clock Synchronization - Uplink analyzer\n* Autor:    Antoine AUGAGNEUR\n* Date:     march, 2022\n* Sources:  LoRaWAN® Application Layer Clock Synchronization Specification\n*\n*/\n\n// Uplink analysis\n//DevEUI = msg.payload.DevEUI_uplink.DevEUI;              //!\\\\ set your own path\nupport = msg.payload.DevEUI_uplink.FPort;               //!\\\\ set your own path\n//Fcnt = msg.payload.DevEUI_uplink.FCntUp;                //!\\\\ set your own path\nmessage = msg.payload.DevEUI_uplink.payload_hex;        //!\\\\ set your own path\n\n\n\n// Clock command analysis\nif (upport == \"202\"){\n    \n    message = message.toString('hex');\n\n    if (message[1] == \"0\"){\n        msg.commandtype = \"PackageVersionAns \";\n        msg.analysis = \"Pack.ID: \" + message[2] + message[3] + \" / \" + \"Pack.Ver: \" +message[4] + message[5];\n    }\n    else if(message[1] == \"2\"){\n        msg.commandtype = \"DeviceAppTimePeriodicityAns \";\n        var thedate2 = SecToDate_2(message);\n        msg.analysis = thedate2;\n    }\n    else if(message[1] == \"1\"){\n        msg.commandtype = \"AppTimeReq\";\n        var thedate1 = SecToDate_1(message);\n        msg.analysis = thedate1;\n    }\n    else{\n        msg.commandtype = \"...\";\n        msg.analysis = \"...\";\n    }\n    \n}\nelse{\n    msg.commandtype = \"...\";\n    msg.analysis = \"...\";\n}\n\n\n\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n// Get time and convert it into date format\nfunction SecToDate_1 (message){\n    \n\n        var DeviceTime = message[8]\n                        + message[9]\n                        + message[6]\n                        + message[7]\n                        + message[4]\n                        + message[5]\n                        + message[2]\n                        + message[3];\n        var DeviceTime_hex = DeviceTime.toString('hex');\n        var DeviceTime_dec = parseInt(DeviceTime_hex, 16);  // sec passed since 06-janv-1980\n        var DeviceTime_date = new Date(1980, 0, 6);                        // Epoch\n        DeviceTime_date.setSeconds(DeviceTime_dec);\n        let DeviceTime_date_format = DeviceTime_date.toLocaleString('fr-FR',{\n                                                weekday: 'long',\n                                                year: 'numeric',\n                                                month: 'long',\n                                                day: 'numeric',\n                                                hour: 'numeric',\n                                                minute: 'numeric',\n                                                second: 'numeric'});\n        \n        DeviceTime_date_format += \" (UTC+0)\";\n        \n        return DeviceTime_date_format;\n\n}\n\n// Get time and convert it into date format\nfunction SecToDate_2 (message){\n    \n\n        var DeviceTime = message[10]\n                        + message[11]\n                        + message[8]\n                        + message[9]\n                        + message[6]\n                        + message[7]\n                        + message[4]\n                        + message[5];\n        var DeviceTime_hex = DeviceTime.toString('hex');\n        var DeviceTime_dec = parseInt(DeviceTime_hex, 16);  // sec passed since 06-janv-1980\n        var DeviceTime_date = new Date(1980, 0, 6);                        // Epoch\n        DeviceTime_date.setSeconds(DeviceTime_dec);\n        let DeviceTime_date_format = DeviceTime_date.toLocaleString('fr-FR',{\n                                                weekday: 'long',\n                                                year: 'numeric',\n                                                month: 'long',\n                                                day: 'numeric',\n                                                hour: 'numeric',\n                                                minute: 'numeric',\n                                                second: 'numeric'});\n        \n        DeviceTime_date_format += \" (UTC+0)\";\n        \n        return DeviceTime_date_format;\n\n}\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":680,"wires":[["d799ccc3df557968","60975839017046ff"]]},{"id":"217158cd81adf809","type":"ui_text","z":"1aa241be6de675cd","group":"4e5bc59179d99b0b","order":1,"width":7,"height":1,"name":"","label":"DevEUI","format":"{{msg.payload.DevEUI_uplink.DevEUI}}","layout":"row-spread","className":"","x":680,"y":560,"wires":[]},{"id":"3391987144fa35b7","type":"ui_text","z":"1aa241be6de675cd","group":"4e5bc59179d99b0b","order":4,"width":7,"height":1,"name":"","label":"Port","format":"{{msg.payload.DevEUI_uplink.FPort}}","layout":"row-spread","className":"","x":690,"y":600,"wires":[]},{"id":"e1c70cef16df686b","type":"ui_text","z":"1aa241be6de675cd","group":"4e5bc59179d99b0b","order":3,"width":7,"height":1,"name":"","label":"Fcnt","format":"{{msg.payload.DevEUI_uplink.FCntUp}}","layout":"row-spread","className":"","x":710,"y":640,"wires":[]},{"id":"d799ccc3df557968","type":"ui_text","z":"1aa241be6de675cd","group":"4e5bc59179d99b0b","order":2,"width":7,"height":2,"name":"","label":"Command type","format":"{{msg.commandtype}}","layout":"col-center","className":"","x":800,"y":720,"wires":[]},{"id":"60975839017046ff","type":"ui_text","z":"1aa241be6de675cd","group":"4e5bc59179d99b0b","order":5,"width":7,"height":2,"name":"","label":"Command analysis","format":"{{msg.analysis}}","layout":"col-center","className":"","x":850,"y":760,"wires":[]},{"id":"cc628538b7de6b72","type":"ui_text","z":"1aa241be6de675cd","group":"4e5bc59179d99b0b","order":6,"width":7,"height":1,"name":"","label":"Payload","format":"{{msg.payload.DevEUI_uplink.payload_hex}}","layout":"row-spread","className":"","x":740,"y":680,"wires":[]},{"id":"425d48caf101e424","type":"inject","z":"1aa241be6de675cd","name":"RAZ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":530,"y":740,"wires":[["217158cd81adf809","3391987144fa35b7","e1c70cef16df686b","cc628538b7de6b72","d799ccc3df557968","60975839017046ff"]]},{"id":"209eb5ef5bd77583","type":"comment","z":"1aa241be6de675cd","name":"!!! READ ME BEFORE USE !!!","info":"\nNeeded modifications berfore use :\n\n- Add YOUR MQTT broker settings in the MQTT nodes.\n- Set YOUR topic (to publish on) in the \"JSON downlink setup\" node.\n- Set YOUR topic (to subscribe to) in the \"Topic to subscribe\" node.\n\n- In the function nodes, there is JS code. Pay attention to the lines with the \"//!\\\\\" symbol.\n","x":940,"y":200,"wires":[]},{"id":"1c74218d9bb98fe8","type":"comment","z":"1aa241be6de675cd","name":"Clock Synchronization management tool - USMB","info":"","x":240,"y":40,"wires":[]},{"id":"55a4fad94780cc60","type":"ui_group","name":"Application Layer Clock Synchronization","tab":"64d1a9bb215a1207","order":1,"disp":true,"width":10,"collapse":false,"className":""},{"id":"0b5f9950f773f2db","type":"mqtt-broker","name":"Mosquitto ONLINE","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a9b6f0a746d9bfcb","type":"ui_group","name":"Downlink (Port: 202)","tab":"64d1a9bb215a1207","order":5,"disp":true,"width":"7","collapse":false,"className":""},{"id":"525df876d07dbfec","type":"ui_group","name":"PackageVersionReq","tab":"64d1a9bb215a1207","order":2,"disp":true,"width":7,"collapse":false,"className":""},{"id":"36613ffb2d534ad0","type":"ui_group","name":"ForceDeviceResyncReq","tab":"64d1a9bb215a1207","order":4,"disp":true,"width":7,"collapse":false,"className":""},{"id":"3ee3732d6215f938","type":"ui_group","name":"DeviceAppTimePeriodicityReq ","tab":"64d1a9bb215a1207","order":3,"disp":true,"width":7,"collapse":false,"className":""},{"id":"4e5bc59179d99b0b","type":"ui_group","name":"Uplink","tab":"64d1a9bb215a1207","order":6,"disp":true,"width":"14","collapse":false,"className":""},{"id":"64d1a9bb215a1207","type":"ui_tab","name":"Clock Synchronization","icon":"dashboard","order":10,"disabled":false,"hidden":false}]