version-2.0/dashboard_configuration.json
[
    {
        "id": "3dc32134008eac65",
        "type": "tab",
        "label": "Dashboard configuration",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8fecf0340d56d57a",
        "type": "group",
        "z": "3dc32134008eac65",
        "name": "Overall configuration",
        "style": {
            "label": false,
            "fill": "#c8e7a7"
        },
        "nodes": [
            "60ef1969079f6262",
            "e7b751a7c153f63c",
            "87260ac2addf6e9a",
            "0d4f733073cdbb10",
            "728e4479a2eccdd2",
            "97e314b7406f5c64"
        ],
        "x": 94,
        "y": 139,
        "w": 702,
        "h": 202
    },
    {
        "id": "bc6493ad3a0edb81",
        "type": "group",
        "z": "3dc32134008eac65",
        "name": "",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#ffcf3f"
        },
        "nodes": [
            "eed236789393f540",
            "dbc2f5142f52b9f6",
            "f91cf5264dd193db",
            "f16d97b482c3afff"
        ],
        "x": 94,
        "y": 359,
        "w": 692,
        "h": 122
    },
    {
        "id": "a6957a1d1e5a2dc8",
        "type": "group",
        "z": "3dc32134008eac65",
        "name": "",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#ffcf3f"
        },
        "nodes": [
            "781244744792306c",
            "6467f1335c583e56",
            "9656d5d9ea08de8f",
            "eb304e5766d217a6"
        ],
        "x": 94,
        "y": 499,
        "w": 692,
        "h": 122
    },
    {
        "id": "60ef1969079f6262",
        "type": "inject",
        "z": "3dc32134008eac65",
        "g": "8fecf0340d56d57a",
        "name": "CLICK TO CONFIGURE",
        "props": [
            {
                "p": "network_name",
                "v": "ttn",
                "vt": "str"
            },
            {
                "p": "application_id_ttn",
                "v": "",
                "vt": "str"
            },
            {
                "p": "multicast_gateway",
                "v": "",
                "vt": "str"
            },
            {
                "p": "MQTT_broker_url",
                "v": "",
                "vt": "str"
            },
            {
                "p": "MQTT_port",
                "v": "1883",
                "vt": "str"
            },
            {
                "p": "MQTT_username",
                "v": "",
                "vt": "str"
            },
            {
                "p": "MQTT_password",
                "v": "",
                "vt": "str"
            },
            {
                "p": "MQTT_topic_to_subscribe",
                "v": "v3/+/devices/+/up",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "e7b751a7c153f63c",
                "0d4f733073cdbb10",
                "87260ac2addf6e9a"
            ]
        ]
    },
    {
        "id": "e7b751a7c153f63c",
        "type": "function",
        "z": "3dc32134008eac65",
        "g": "8fecf0340d56d57a",
        "name": "Save configuration",
        "func": "var application_id_ttn = global.get('application_id_ttn') || 0;\napplication_id_ttn = msg.application_id_ttn;\nglobal.set('application_id_ttn',application_id_ttn);\n\nvar gateway = global.get('gateway') || 0;\ngateway = msg.multicast_gateway;\nglobal.set('gateway',gateway);\n\nvar network = global.get('network') || 0;\nnetwork = msg.network_name;\nglobal.set('network',network);\n\nvar network_server_URL = global.get('MQTT_broker_url') || 0;\nMQTT_broker_url = msg.MQTT_broker_url;\nglobal.set('MQTT_broker_url',MQTT_broker_url);\n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "87260ac2addf6e9a",
        "type": "function",
        "z": "3dc32134008eac65",
        "g": "8fecf0340d56d57a",
        "name": "Topic configuration",
        "func": "\n\n\n\n\n\nvar config_subscriber = {\n    action : \"subscribe\",\n    topic : msg.MQTT_topic_to_subscribe\n}\n\nreturn config_subscriber;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 300,
        "wires": [
            [
                "728e4479a2eccdd2"
            ]
        ]
    },
    {
        "id": "0d4f733073cdbb10",
        "type": "function",
        "z": "3dc32134008eac65",
        "g": "8fecf0340d56d57a",
        "name": "Broker configuration",
        "func": "\n\n\n\nvar broker_configuration = {\n    action : \"connect\",\n    \n    broker : {\"broker\":msg.MQTT_broker_url,\"port\":msg.MQTT_port,\"username\":msg.MQTT_username,\"password\":msg.MQTT_password},\n    \n   \n}\n\nreturn broker_configuration;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 260,
        "wires": [
            [
                "728e4479a2eccdd2"
            ]
        ]
    },
    {
        "id": "728e4479a2eccdd2",
        "type": "link out",
        "z": "3dc32134008eac65",
        "g": "8fecf0340d56d57a",
        "name": "MQTT configuration out",
        "mode": "link",
        "links": [
            "e5b6a799c722988d"
        ],
        "x": 755,
        "y": 280,
        "wires": []
    },
    {
        "id": "eed236789393f540",
        "type": "ui_dropdown",
        "z": "3dc32134008eac65",
        "g": "bc6493ad3a0edb81",
        "name": "CLlCK TO CONFIGURE",
        "label": "Device-id",
        "tooltip": "",
        "place": "Select ",
        "group": "5c1b38e3407d4958",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Enter_your_device_id_1",
                "value": "Enter_your_device_id_1",
                "type": "str"
            },
            {
                "label": "Enter_your_device_id_2",
                "value": "Enter_your_device_id_2",
                "type": "str"
            },
            {
                "label": "Enter_your_group_id_1",
                "value": "Enter_your_group_id_1",
                "type": "str"
            },
            {
                "label": "Enter_your_group_id_2",
                "value": "Enter_your_group_id_2",
                "type": "str"
            },
            {
                "label": "You can add as many as you want...",
                "value": "You can add as many as you want...",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 430,
        "y": 440,
        "wires": [
            [
                "dbc2f5142f52b9f6"
            ]
        ]
    },
    {
        "id": "dbc2f5142f52b9f6",
        "type": "function",
        "z": "3dc32134008eac65",
        "g": "bc6493ad3a0edb81",
        "name": "Save device_id ",
        "func": "var device_id_ttn = global.get('device_id_ttn') || 0;\n\ndevice_id_ttn = msg.payload;\n\nglobal.set('device_id_ttn',device_id_ttn);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "97e314b7406f5c64",
        "type": "comment",
        "z": "3dc32134008eac65",
        "g": "8fecf0340d56d57a",
        "name": "Overall configuration",
        "info": "",
        "x": 210,
        "y": 180,
        "wires": []
    },
    {
        "id": "f91cf5264dd193db",
        "type": "inject",
        "z": "3dc32134008eac65",
        "g": "bc6493ad3a0edb81",
        "name": "RAZ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "eed236789393f540"
            ]
        ]
    },
    {
        "id": "f16d97b482c3afff",
        "type": "comment",
        "z": "3dc32134008eac65",
        "g": "bc6493ad3a0edb81",
        "name": "Devices and multicast Groups configuration",
        "info": "",
        "x": 280,
        "y": 400,
        "wires": []
    },
    {
        "id": "b362f16b3d6c8633",
        "type": "comment",
        "z": "3dc32134008eac65",
        "name": "README FIRST",
        "info": "You have to configure 3 nodes :\n\n1. One node in the \"Overall configuration\" section: Click on the node called \"CLICK TO CONFIGURE\" and enter all properties.\n\n2. One node in the \"Devices and multicast Groups configuration\": Click on the node called \"CLICK TO CONFIGURE\" and enter all your devices identifiers (end-devices and mutlicast groups) you created on your Network Server. For each identifer, you need to click on \"add an option\" and enter the corresponding identifier.\n\n2. One node in the \"Devices configuration (Clock Synchronisation)\": Click on the node called \"CLICK TO CONFIGURE\" and enter all your end-devices identifiers you created on your Network Server. For each identifer, you need to click on \"add an option\" and enter the corresponding identifier.",
        "x": 440,
        "y": 80,
        "wires": []
    },
    {
        "id": "781244744792306c",
        "type": "ui_dropdown",
        "z": "3dc32134008eac65",
        "g": "a6957a1d1e5a2dc8",
        "name": "CLlCK TO CONFIGURE",
        "label": "Device-id",
        "tooltip": "",
        "place": "Select ",
        "group": "04058b639f2e0be9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Enter_your_device_id_1",
                "value": "Enter_your_device_id_1",
                "type": "str"
            },
            {
                "label": "Enter_your_device_id_2",
                "value": "Enter_your_device_id_2",
                "type": "str"
            },
            {
                "label": "Enter_your_group_id_1",
                "value": "Enter_your_group_id_1",
                "type": "str"
            },
            {
                "label": "Enter_your_group_id_2",
                "value": "Enter_your_group_id_2",
                "type": "str"
            },
            {
                "label": "You can add as many as you want...",
                "value": "You can add as many as you want...",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 430,
        "y": 580,
        "wires": [
            [
                "6467f1335c583e56"
            ]
        ]
    },
    {
        "id": "6467f1335c583e56",
        "type": "function",
        "z": "3dc32134008eac65",
        "g": "a6957a1d1e5a2dc8",
        "name": "Save device_id ",
        "func": "var device_id_ttn = global.get('device_id_ttn') || 0;\n\ndevice_id_ttn = msg.payload;\n\nglobal.set('device_id_ttn',device_id_ttn);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "9656d5d9ea08de8f",
        "type": "inject",
        "z": "3dc32134008eac65",
        "g": "a6957a1d1e5a2dc8",
        "name": "RAZ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 190,
        "y": 580,
        "wires": [
            [
                "781244744792306c"
            ]
        ]
    },
    {
        "id": "eb304e5766d217a6",
        "type": "comment",
        "z": "3dc32134008eac65",
        "g": "a6957a1d1e5a2dc8",
        "name": "Devices configuration (Clock Synchronisation)",
        "info": "",
        "x": 290,
        "y": 540,
        "wires": []
    },
    {
        "id": "5c1b38e3407d4958",
        "type": "ui_group",
        "name": "Downlink",
        "tab": "121f9e88659f1b47",
        "order": 7,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "04058b639f2e0be9",
        "type": "ui_group",
        "name": "Downlink(port 202)",
        "tab": "809d5550849b871e",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "121f9e88659f1b47",
        "type": "ui_tab",
        "name": "Multicast",
        "icon": "dashboard",
        "order": 9,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "809d5550849b871e",
        "type": "ui_tab",
        "name": "TTN-clock synch",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]